body {
    background-color: lightblue;
  }
  
  h1 {
    color: blue;
    text-align: center;
  }
  
  p {
    font-family: verdana, sans-serif;
    font-size: 1em;
  }

img {
    width: 200px; /* Setzt die Breite des Bildes auf 200 Pixel */
    height:auto; /* Hält das Seitenverhältnis bei der Anpassung der Höhe */
}
