<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}eBay Clone{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/common.js') }}" defer></script>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <p class="flash-{{ category }}">{{ message }}</p>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <header>
        <nav>
            <div class="left-nav">
                <a href="{{ url_for('product_list') }}">Home</a>
                {% if session.get('user_id') %}
                <a href="{{ url_for('cart') }}">Cart</a>
                <a href="{{ url_for('wishlist') }}">Wishlist</a>
                <a href="{{ url_for('checkout') }}">Checkout</a>
                {% endif %}
            </div>
            <div class="search-bar-container">
                <form action="{{ url_for('search') }}" method="GET">
                    <input type="text" name="query" placeholder="Search products..." class="search-input">
                    <button type="submit" class="search-button">Search</button>
                </form>
            </div>
            <div class="right-nav">
                {% if session.get('user_id') %}
                    <a href="{{ url_for('messages') }}">Messages</a> <!-- Hier der Link für Messaging -->
                    <a href="{{ url_for('user_profile', user_id=session['user_id']) }}">Profile</a>
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Login</a>
                    <a href="{{ url_for('register') }}">Register</a>
                {% endif %}
            </div>            
        </nav>
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 eBay Clone</p>
    </footer>
</body>
</html>
