{% extends 'base.html' %}

{% block title %}New Products{% endblock %}

{% block content %}
    <h1>New Products from Subscribed Sellers</h1>

    {% if products %}
        <table>
            <thead>
                <tr>
                    <th>Product Image</th> 
                    <th>Name</th>
                    <th>Cost</th>
                    <th>Available Copies</th>
                    <th>Information</th>
                    <th>Seller Shop Name</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td><img src="{{ product.source }}" alt="Product Image" width="100"></td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.cost }}</td>
                        <td>{{ product.available_copies }}</td>
                        <td>{{ product.information }}</td>
                        <td>{{ product.shopname }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No new products from your subscribed sellers.</p>
    {% endif %}
{% endblock %}