{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
    <section class="product-section">
        <div class="filter-container">
            <!-- Sort by Button -->
            <div class="dropdown">
                <button class="dropdown-button">Sort by</button>
                <div class="dropdown-menu">
                    <a href="{{ url_for('product_list', sort_by='price_asc', category_id=category_id) }}">Price: Low to High</a>
                    <a href="{{ url_for('product_list', sort_by='price_desc', category_id=category_id) }}">Price: High to Low</a>
                    <a href="{{ url_for('product_list', sort_by='name_asc', category_id=category_id) }}">Name: A to Z</a>
                    <a href="{{ url_for('product_list', sort_by='name_desc', category_id=category_id) }}">Name: Z to A</a>
                </div>
            </div>

            <!-- Filter by Category Button -->
            <div class="dropdown">
                <button class="dropdown-button">Category</button>
                <div class="dropdown-menu">
                    <a href="{{ url_for('product_list', sort_by=sort_by) }}">All Categories</a>
                    {% for category in categories %}
                    <div class="dropdown-item">
                        <a href="{{ url_for('product_list', sort_by=sort_by, category_id=category.category_id) }}">{{ category.category_name }}</a>
                        {% if category.subcategories %}
                            <div class="subcategory-menu">
                                {% for subcategory in category.subcategories %}
                                    <a href="{{ url_for('product_list', sort_by=sort_by, category_id=subcategory.id) }}">{{ subcategory.name }}</a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                
                </div>
            </div>
        </div>

        <div class="product-grid">
            {% for product in products %}
                <div class="product-item">
                    <!-- Direktverlinkung zu einer Bildadresse im Internet -->
                    <img src="{{ product.source }}" alt="{{ product.name }}">
                    <h3><a href="{{ url_for('product_detail', product_id=product.product_id) }}">{{ product.name }}</a></h3>
                    <p>${{ product.cost }}</p>
                </div>
            {% endfor %}
        </div>        
    </section>
{% endblock %}
