{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
    <h1>Product List</h1>
    <section>
        <form method="get" action="{{ url_for('product_list') }}">
            <input type="text" name="search" placeholder="Search for products">
            <button type="submit">Search</button>
        </form>
        <div class="product-grid">
            <!-- Loop through products -->
            {% for product in products %}
                <div class="product-item">
                    <a href="{{ url_for('product_detail', product_id=product['product_id']) }}">View Details</a>
                    <img src="{{ product.image_url }}" alt="{{ product.name }}">
                    <h3><a href="{{ url_for('product_detail', product_id=product.product_id) }}">{{ product.name }}</a></h3>
                    <p>${{ product['price'] }}</p>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
