{% extends 'base.html' %}

{% block title %}Shop from Seller{% endblock %}

{% block content %}
    <h1>Shop Name: {{ seller.shopname }}</h1>
    <h3>Review: {{ seller.rating }} / 5</h3>
    {% if seller.website_url %}
        <p>Website: <a href="{{ seller.website_url }}">{{ seller.website_url }}</a></p>
    {% endif %}


    <h2>Article:</h2>

    <div class="product-grid">
        {% if products %}    
            {% for product in products %}
                <div class="product-item">
                    <!-- Direktverlinkung zu einer Bildadresse im Internet -->
                    <img src="{{ product.source }}" alt="{{ product.name }}">
                    <h3><a href="{{ url_for('product_detail', product_id=product.product_id) }}">{{ product.name }}</a></h3>
                    <p>${{ product.cost }}</p>
                    {% if 'user_id' in session %}
                        <form method="post" action="{{ url_for('add_to_cart', product_id=product.product_id) }}">
                            <button type="submit">Add to Cart</button>
                        </form>
                        {% else %}
                            <p><a href="{{ url_for('login') }}">Log in</a> to add the item to the cart.</p>
                    {% endif %}
                </div>
            {% endfor %}
            {% else %}
            <p>No Articles found.</p>
        {% endif %}
    </div>      

{% endblock %}